[Unit]
Description=Routing Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/network-routing-system
ExecStart=/usr/bin/python3 /opt/network-routing-system/routing_server/server.py /etc/network-routing-system/routing_server.yaml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
